[Unit]
Description=Simple QOTD daemon
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/qotdd
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
PIDFile=/run/qotd.pid
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

