# Object files
qotdd
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Autotool artifacts
autoscan.log
config.log
autom4te.cache
.deps
Makefile

# Debug files
*.dSYM/

# Man pages
*.gz
*.ps
*.pdf

# Others
core*
vgcore.*
*.pid


